<footer class="site-footer">
    <div class="container">
        <p class="copyright text-center">
            Copyright © 2015 Pavel Kondratenko. All Rights Reserved.
        </p>
    </div>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>