<footer class="site-footer">
    <div class="container">
        <p class="copyright text-center">
            Copyright © 2015 Pavel Kondratenko. All Rights Reserved.
        </p>
    </div>

</footer>