<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copyright">
                    Copyright © 2015 Pavel Kondratenko. All Rights Reserved.
                </p>
            </div>
            <div class="col-md-4">
                <div class="footer-social">
                    <a href="#" target="_blank" class="social social-google" title="Google +"><span class="sr-only">Google +</span></a>
                    <a href="#" target="_blank" class="social social-in" title="Linked In"><span class="sr-only">Linked In</span></a>
                    <a href="#" target="_blank" class="social social-tweetter" title="Tweetter"><span class="sr-only">Tweetter</span></a>
                    <a href="#" target="_blank" class="social social-fb" title="Facebook"><span class="sr-only">Facebook</span></a>
                </div>
            </div>
        </div>
    </div>

</footer>