<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="project-item">
        <a href="#"><img src="holder.js/250x250" class="img-responsive"></a>

        <div class="project-item-name">
            <a href="#">DANONE Fruchtzwerge Zoo</a>
        </div>
        <p class="project-item-desc">3d model of hydraulic packer</p>
    </div>
</div>