<div class="col-md-4 col-sm-6 col-xs-12">
    <a href="project.html" class="project-item">
        <div class="project-item-img">
            <img src="http://fakeimg.pl/360x260/828282/000" class="img-responsive">
        </div>
        <div class="project-item-name">
            <span>World of Speed</span>
        </div>
        <p class="project-item-desc">3d model of hydraulic packer</p>
    </a>
</div>