<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="project-item download-item">
        <a href="#" class="project-item-main-link">
        <span class="project-item-img">
            <img src="http://fakeimg.pl/360x260/828282/000" class="img-responsive">
        </span>
        <span class="project-item-name">
            World of Speed
        </span>
        <span class="project-item-desc">Shoelace IMM Brush for zbrush. Good for create High Poly mesh without precision in details.</span>
        </a>
        <div class="project-item-btn"><a href="" class="btn btn-primary-outline text-uppercase">View more info</a>
        </div>


    </div>
</div>