@font-face {
  font-family: 'Open Sans';
  src: /*local('Open Sans Light'), local('OpenSans-Light'), url('#{$font-path}opensanslight.woff2') format('woff2'), */url('#{$font-path}opensanslight.woff') format('woff'), url('#{$font-path}opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('#{$font-path}opensans.woff2') format('woff2'), url('#{$font-path}opensans.woff') format('woff'), url('#{$font-path}opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('#{$font-path}opensansitalic.woff2') format('woff2'), url('#{$font-path}opensansitalic.woff') format('woff'), url('#{$font-path}opensansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Medium'), local('OpenSans-Medium'), url('#{$font-path}opensansmedium.woff2') format('woff2'), url('#{$font-path}opensansmedium.woff') format('woff'), url('#{$font-path}opensansmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Medium Italic'), local('OpenSans-MediumItalic'), url('#{$font-path}opensansmediumitalic.woff2') format('woff2'), url('#{$font-path}opensansmediumitalic.woff') format('woff'), url('#{$font-path}opensansmediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('#{$font-path}opensansbold.woff2') format('woff2'), url('#{$font-path}opensansbold.woff') format('woff'), url('#{$font-path}opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('#{$font-path}opensansbolditalic.woff2') format('woff2'), url('#{$font-path}opensansbolditalic.woff') format('woff'), url('#{$font-path}opensansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'fontello';
  src: url('#{$font-path}fontello.woff') format('woff'), url('#{$font-path}fontello.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-address:before { content: '\e805'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */