.project-item{
  text-align: center;
  display: block;
  margin-bottom: 30px;
  &.download-item{
    margin-bottom: 70px;
    .project-item-desc{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 50px;
    }
  }
  .project-item-main-link{
    &:hover,&:focus{
      text-decoration: none;
      .project-item-img:before{
        animation: circle .5s;
      }
      .project-item-name{
        color: $link-color;
      }
    }
  }

  .project-item-btn{
    text-align: center;
    margin-top: 20px;
  }

  &-img{
    position: relative;
    overflow: hidden;
    display: block;
    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    .img-responsive{
      display: inline-block;
    }
  }

  &-name{
    margin-top: 5px;
    display: block;
    font-size: $font-size-h3;
    font-weight: $headings-font-weight;
    color: $headings-color;
  }
  &-desc{
    margin: 5px 0 5px;
    color: #555;
    font-size: 16px;
    display: block;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.meta-info{
  margin-top: -10px;
  font-weight: 400;
  color: $text-muted;
  margin-bottom: 30px;
  i.fa{
    font-size: 110%;
  }
  >a,>span{
   margin-right: 10px;
  }
  a{
    color: $text-muted;
    &:hover{
      text-decoration: none;
    }
  }
}

.project-page{
  .content{
    margin-bottom: 40px;
  }
}

.project-pager-fixed{
  @media (max-width: $screen-lg-min) {
    display: none;
  }
  &-previous,&-next{
    position: fixed;
    top:50%;
    margin-top: -60px;
    font-size: 100px;
    color: #c6c6c6;
    &:hover{
      color: $text-color;
    }
  }
  &-previous{
    left: 30px;
  }
  &-next{
    right: 30px;
  }
}

.project-pager{
  i.fa{
    font-size: 20px;
    top:1px;
    display: inline-block;
    position: relative;
    margin: 0 8px;
  }
  &-previous,&-next{
    width: 170px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid $link-color;
    padding: $padding-base-vertical 0;
    text-align: center;
    &:hover{
      background: $link-color;
      color: #fff;
      text-decoration: none;
    }
  }
  &-previous{
  }
  &-next{
    float: right;
  }
}

.more-block{
  text-align: center;
  margin-top: 20px;
}